@media ( max-width: 1200px )
    .menu
        &_item
            padding-right: 20px
        &_link
            font-size: 13px
    .promo
        &_header
            font-size: 50px
    .reasons
        &_block
            align-items: flex-start
        &_descr
            width: 300px
        
    .mobile
        &_item
            width: 280px
            &_subtitle
                font-size: 18px
                line-height: 22px

    .footer
        &_links
            margin-left: -20px
        &_mobile
            display: flex
            flex-direction: column
            img
                margin-bottom: 8px
                margin-right: 30px

@media ( max-width: 991px)
    .menu
        &_item
            padding-right: 8px
        &_link
            font-size: 10px

    .subheader
        &_logo
            img
                width: 100%
        &_official
            font-style: 11px
        &_phone
            font-style: 18px
        &_btn
            margin-top: 21px
            height: 40px
            width: 100%

    .promo
        &_header
            font-size: 40px
        &_subheader
            font-style: 30px

    .mobile
        &_item
            width: 220px
            height: 200px
            &_subtitle
                font-size: 18px
                line-height: 22px
